{% extends 'base/base.html' %}
{#{% block albums_active %}active{% endblock %}#}

{% block body %}
    <ul>
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">Usuarios</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Endereço</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in data.all_people %}
                <tr>
                  <td><a href="{% url 'pessoa:detail' cliente.pk %}">{{ cliente.nome }}</a></td>
                  <td>{{ cliente.cpf }}</td>
                  <td>{{ cliente.endereco }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>

    </ul>


{% endblock %}
