{% extends 'base/base.html' %}
{#{% block albums_active %}active{% endblock %}#}

{% block body %}<!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <a href="{% url 'pessoa:cliente_index' %}">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Clientes</span>
                            <span class="info-box-number">{{ data.many_clientes }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
            <!-- /.col -->
            <a href="{% url 'pessoa:funcionario_index' %}">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Funcionarios</span>
                            <span class="info-box-number">{{ data.many_funcionarios }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>

            <!-- fix for small devices only -->
            {#        <div class="clearfix visible-sm-block"></div>#}
            {#        <!-- /.col -->#}
            {#        <div class="col-md-3 col-sm-6 col-xs-12">#}
            {#            <div class="info-box">#}
            {#                <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>#}
            {##}
            {#                <div class="info-box-content">#}
            {#                    <span class="info-box-text">Likes</span>#}
            {#                    <span class="info-box-number">41,410</span>#}
            {#                </div>#}
            {#                <!-- /.info-box-content -->#}
            {#            </div>#}
            {#            <!-- /.info-box -->#}
            {#        </div>#}
            {#        <!-- /.col -->#}

            <a href="{% url 'quarto:index' %}">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-checkmark"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Quartos disponiveis</span>
                        <span class="info-box-number">{{ data.many_rooms_available }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            </a>
            <!-- /.col -->

        </div>
    </section>
{% endblock %}
